body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}



#container {
    margin-top: 3rem;
    width: 24rem;
}

#room-input, #name-input {
    margin: .4rem;
    padding: .4rem;
    border-radius: .4rem;
}

#form {
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#submit-btn {
    padding: .4rem 1rem;
    border-radius: .4rem;
    background-color: white;
    border: solid 2px #333333;
    cursor: pointer;
    transition: .5s;
}

#submit-btn:hover {
    background-color: #dddddd;
}



#game-container {
    display: none;
    width: 90%;
    height: 90%;
}

#mute-icon {
    margin-right: 1rem;
    cursor: pointer;
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    transition: transform .3s;
    will-change: transform;
}

#mute-icon:hover {
    transform: scale(1.2);
}

#game-message {
    font-size: larger;
    width: 12rem;
    flex-shrink: 0;
}

#canvas {
    margin: 0 2rem;
    flex-shrink: 0;
}

#chat {
    flex-grow: 3;
}

#chat-icon {
    width: 2rem;
    height: 2rem;
}

#chat-messages {
    height: 86%;
    list-style: none;
    padding: 0;
    overflow: auto;
}

#chat-messages > li {
    display: flex;
}

#chat-messages > li:nth-child(odd) {
    background-color: antiquewhite;
}

.chat-name {
    display: inline-block;
    min-width: 8rem;
    margin-right: 1rem;
}

.chat-player-icon {
    width: 1rem;
    height: 1rem;
}

#chat-form {
    display: flex;
    align-items: center;
}

#chat-input {
    margin: .4rem;
    padding: .4rem;
    border-radius: .4rem;
    width: 100%;
}

#chat-send-icon {
    cursor: pointer;
    background-color: thistle;
    width: 1.4rem;
    height: 1.4rem;
    padding: .4rem;
    border-radius: .4rem;
    border: solid 2px #333333;
    transition: background-color .3s;
    will-change: background-color;
}

#chat-send-icon:hover {
    background-color: wheat;
}



#logo {
    position: absolute;
    left: 0;
    bottom: 0;
}

footer {
    position: absolute;
    bottom: 1rem;
    left: 10rem;
}

#info-icon {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    transition: transform .3s;
    will-change: transform;
}

#info-icon:hover {
    transform: scale(1.2);
}

#info-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#info-mask {
    position: absolute;
    background-color: gray;
    width: 100%;
    height: 100%;
    opacity: .3;
}

#info-description {
    position: absolute;
    padding: 1rem;
    border-radius: .6rem;
    background-color: white;
}

#close-icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
}



@media (max-width: 720px), (max-height: 720px) {
    #container {
        width: 90%;
        margin: 0;
    }

    #game-message {
        width: auto;
    }

    #chat-messages {
        height: 60%;
    }
}

@media (orientation: portrait) {
    #container {
        width: 90%;
        margin: 0;
    }

    #game-container {
        width: 90%;
        height: 90%;
        flex-direction: column;
    }

    #mute-icon {
        margin-right: 0;
    }

    #game-message {
        width: auto;
    }

    #canvas {
        margin: 0;
    }

    #chat-icon {
        margin-top: 1rem;
    }
}

@media (orientation: portrait) and (max-width: 720px) {
    #chat-messages {
        height: 7rem;
    }
}