@media (max-width: 640px) {
    #logo {
        width: 120px;
    }

    #info-description {
        padding-top: 3rem;
    }

    #close-icon {
        top: 1rem;
    }
}

@media (max-height: 520px) {
    #logo {
        width: 120px;
    }

    #info-description {
        font-size: 70%;
    }

    #chat-messages {
        height: 60%;
    }
}

@media (max-width: 720px), (max-height: 720px) {
    #container {
        width: 90%;
        margin: 0;
    }

    #game-message {
        width: auto;
    }
}

@media (orientation: portrait) {
    #container {
        width: 90%;
        margin: 0;
    }

    #game-container {
        flex-direction: column;
    }

    #mute-icon {
        margin-right: 0;
    }

    #game-message {
        width: auto;
    }

    #canvas {
        margin: 0;
    }

    #chat {
        height: calc(100vh - 110vw);
        display: flex;
        flex-direction: column;
    }

    #chat-icon {
        margin-top: 1rem;
    }
}